<div appHighlight [initcolor]="'red'" [color2]="'pink'">
  <p>Hi All</p>
</div>

<p>mycolor:{{mycolor}}</p>

<div> 
  <p>Hi All!</p>
</div>

<p appHighlight>Lorem ipsum laborum odio neque iure modi impedit eum expedita ab. Sapiente ducimus magnam, maiores fugiat, delectus dolores quis accusantium architecto placeat vero id earum in provident amet ullam repellendus!</p>

<span appHighlight></span>

<p [appChangefontsize]="'200%'"
   [clkfont]="'100%'">
  Hi this font size will change, using input alias name same as custom attribute directive!
</p>

<p domchange>My name is Manu</p> 